.myProfil {
    border: 2px solid #0091BE;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    color: #0091BE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    ul > li {
        font-weight:300;
        color: #0091BE;
    }
}

.varCard {
    background-color: #0091BE;
    text-align: end;
    border-radius: 23px;
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    div {
        font-size: 3em;
    }
}

.logoCard {
    background-color: rgba(0, 145, 190, 0.2);
    color: #0091BE;
    border-radius: 23px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);

    //span for logo
    span {
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        background-color: #0091BE;
        color: white;
        &:hover {
            background-color: #1bb2e0;
            color: white;
        }
    }
}

.aspirationBtn {
    background-color: white;
    color: #0091BE;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;

    &:hover {
        background-color: #5db1cb;
        color: white;
    }
}