@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway:wght@100;400&family=Titillium+Web&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  border: 2px solid #2c2e2c !important;
  box-shadow: 0px 0px 0px 2px rgba(33, 38, 33, 0.24) !important;
}
input:hover, select:hover, textarea:hover {
  border: 1px solid #2c2e2c !important;
}
