@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway:wght@100;400&family=Titillium+Web&display=swap');

.alice {
  font-family: 'Alice', serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.titillium {
  font-family: 'Titillium Web', sans-serif;
}

.main {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
.jumbotron {
  /* background: url('../public/halaman-utama-gambar-1.png') no-repeat center center; */
  background-size:cover;
  height: 100vh;
}
.profilSingkat {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
@media only screen and (min-width: 1px) and (max-width: 767px){
  .profilSingkat{
    font-size: 12px;
  }
  .koorwil{
    width: 50px !important;
    height: 50px !important;
  }
  .watermark h5, .watermark h6{
    font-size: 9px !important;
  }
}
.onGoing {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
.aspirasi {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
.footer {
  background-color: #424851;

}




