@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway:wght@100;400&family=Titillium+Web&display=swap');

.alice {
  font-family: 'Alice', serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.titillium {
  font-family: 'Titillium Web', sans-serif;
}


.jumbotron {
  background: no-repeat center center fixed;
  position: relative;
  background-size:cover;
  min-height: 100vh;
  overflow: hidden;
}
.profilSingkat {
  position: relative;
  height: 100vh;
}
@media only screen and (min-width: 1px) and (max-width: 767px){
  .profilSingkat{
    font-size: 12px;
  }
  .koorwil{
    width: 50px !important;
    height: 50px !important;
  }
  .watermark h5, .watermark h6{
    font-size: 9px !important;
  }
}
.onGoing {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
.aspirasi {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}




